body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

td, th {
  padding: 5px 10px;
}

td.side-borders {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.plan td {
  border-bottom: 1px solid #444;
}

span.not-required {
  color: #B0B0B0;
  font-style: bold;

}
span.paper-header {
  color: #2A70E8;
  font-style: bold;
  font-size: 14pt;
}

span.section-header {
  color: #3f3f3f;
  text-transform: uppercase;
  font-style: bold;
  font-size: 20pt;
}
h1.TitleHeader {
  color: #FFFFFF;
  background-color: #000000;
  font-style: bold;
  font-size: 30pt;

}

td.section-header {
  color: #FFFFFF;
  background-color: #3f3f3f;
  font-style: bold;
  font-size: 20pt;
}

td.small-section-header {
  background-color: #000000;
  color: #FFFFFF
}
td.small-comment-header {
  background-color: rgba(0,0,0,0.5);
  color: #FFFFFF
}
tr.exam {
  background-color: rgba(0,128,128,0.5);
  color: #FFFFFF
}

a.nav {
  color: rgb(255,255,255);
}
a.nav:hover {
  color: rgba(255,0,0,0.9);
}
a.lecturelink {
  color: rgb(255,0,0);
}
a.lecturelink:hover {
  color: rgb(0,0,255);
}

tr.flipped {
  background-color: rgba(255,0,0,0.3);
}
tr.guest {
  background-color: rgba(0,255,0,0.3);
}
span.theory {
  color: #CF0000;
  font-style: bold;
}


p.comment {
  color: #B0B0B0;
  font-style: italic;
  font-size: 10pt;
}
